:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --main-color: #01aac1;
  --border-color: #dbdbdb;
  --navbar-height: 34px;
  --header-height: 120px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
}

/* Spinner */
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
