/* Project-List */
.wrapper{
  padding: 4px;
  margin-top: 8px;
  border-radius:8px;
  box-shadow: 1px 1px #cccbcb;
}
.inner{
  display: flex;
}
.task-status{
  width: 48px;
  display: flex;
  justify-content:center
}
.task-info-container{
  display: flex;
  flex-direction: column;
}
.task-header{
  display: flex;
  justify-content:space-between
}
.task-title {
  font-size: 15px;

}
.task-body{
  display: flex;
}
.task-target {
  font-size: 14px;
  padding: 4px;
  flex: 1;

}

.task-incharge {
  width: 25%;
  padding: 4px;
  border-radius:8px;
}

.task-incharge span {
  height: 20px;
  font-size: 15px;
}
.incharge-info{
  display: flex;
  align-items: center;

}
.incharge-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 4px;
}

.incharge-name {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.incharge-name span{
  line-height:100%;
}
.action-button{
  margin-right: 4px;
}